<h1 id="productName"><%= @product.name %></h1>
<p id="productDescription"><%= @product.description %></p>
<ul>
  <li id="productPrice">$<%= @product.price %></li>
  <li id="productInventory"><%= @product.inventory%>Left in Stock</li>
</ul>
